* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    max-width: 90%;
    margin: auto;
}

.header {}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

nav a.active {
    color: #e63946;
}

.icon {
    font-size: 20px;
}


.hero {
    padding: 80px 0;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-img img {
    width: 420px;
}

.hero-text {
    width: 45%;
}

.hero-text h1 {
    font-size: 44px;
    margin-bottom: 20px;
}

.hero-text p {
    color: #777;
    margin-bottom: 30px;
}

.hero-text button {
    background-color: #DC3845;

    color: white;
    border: none;
    padding: 14px 36px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
}


.features {
    padding: 80px 0;
    text-align: center;
}

.features h2 {
    font-size: 28px;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    width: 30%;
}

.card img {
    width: 80px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #777;
}


.features-second {
    padding: 80px 0;
}

.features-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.third-section center {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.third-section .card {
    width: 200px;
    height: 240px;
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
    position: relative;
}


.third-section .card span {
    display: block;
    font-weight: 600;
    margin: 10px 0;
    padding-top: 20px;
}

.third-section .card .images {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 23px;
    height: 20px;


}

.third-section .card .img-gifts {
    align-items: center;
}




.new-gifts {
    text-align: center;
    margin: 80px auto;
}

.new-gifts h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

.new-cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.new-card {
    width: 260px;
    background: #fff;
    border-radius: 20px;
    padding: 30px 20px 25px;
    position: relative;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.new-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 160px;
    background: #e53945;
    border-radius: 20px 20px 100px 100px;
    z-index: 0;
}

.new-card img:first-child {
    width: 120px;
    margin: 10px auto 20px;
    position: relative;
    z-index: 1;
}

.new-card img:nth-child(2) {
    position: absolute;
    bottom: 85px;
    right: 20px;
    width: 40px;
    cursor: pointer;
}

.new-card .heart{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 20px;
    right: 20px;
}

.new-card span {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.new-card p {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

.cta {
    margin: 100px auto;
}

.cta-box {
    background: #e53945;
    border-radius: 30px;
    padding: 60px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cta-box h2 {
    color: #fff;
    font-size: 36px;
    max-width: 300px;
}

.cta-box input {
    width: 260px;
    padding: 14px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
    margin: 20px 0;
}

.cta-box button {
    background: #111;
    color: #fff;
    border: none;
    padding: 14px 28px;
    border-radius: 30px;
    cursor: pointer;
}

.cta-box img {
    width: 260px;
    transform: rotate(-15deg);
}
